.MainPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.dataDisplay{
    margin: 20px;
    width: 20%;
}

.buttonSection{
    display : flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: space-between;
}

/* .dataDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.favouritesPage {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    /* padding: 10%; */
}

.favouritesCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 auto;
}

.ClickShowMainPageButton {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}